@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Empréstimos Online</h1>
    <p>Abra um Livro, deixe-se se levar! Um novo mundo você vai encontrar!</p>
    <div>
        <img src="/img/book.png" class="w-25 p-3"  />
    </div>
</div>
